{% extends 'accident/base.html' %}
{% load staticfiles %}

{% block page_title %}

    <title>Открыть аварию</title>
    

{% endblock %}

{% block link %}

<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <link href="{% static 'air-datepicker-master/dist/css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'air-datepicker-master/dist/js/datepicker.min.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
             $("input#public").change(function(){

              if ($(this).attr("checked")) {
                  $('#hide').fadeIn().show();
                  return;
              } else {
                  $('#hide').fadeOut(300); 
              }

             });
            })
        </script>

{% endblock %}

{% block content %}
    <h1>Форма открытия аварии</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        
        <label><input type="checkbox" name="public" id="public">Указать дату и время </label>

		<div id="hide" style="display:none;">
			<p>
   			 	<input type='text' class="datepicker-here" data-timepicker="true" data-position="right top" value="{% now "d.m.Y H:i" %}" name = "datetime"  id="name"/>
   			 </p>
		</div>
        <button type="submit" class="save btn btn-default">Открыть аварию</button>
    </form>
{% endblock %}