{% extends 'accident/base.html' %}

{% block page_title %}

    <title>{{ accident.headline }}</title>

{% endblock %}

{% block link %}
    <script type="text/javascript" class="init">
    
        $(document).ready(function() {
            $('#detail_list').DataTable({
                "searching": false,
                "paging": false,
                "ordering": false
                
            });
        } );

    </script>

    <script>
        function myFunction() {
        var x = document.getElementById("hide");
        if (x.style.display === "none") 
            {
            x.style.display = "block";
            } 
        else 
            {
            x.style.display = "none";
            }
        }
    </script>

{% endblock %}

{% block add_link %}
    
    <a href="{% url 'edit' pk=accident.id %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="{% url 'link_new' pk=accident.id %}" class="top-menu"><span class="glyphicon glyphicon-link"></span></a>
    <a href="{% url 'event_new' pk=accident.id %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}

{% block content %}
    
     <h3>   
        Заголовок: <strong>{{ accident.headline }}</strong>
    </h3>
    
    
    <p>
        <button onclick="myFunction()" class="btn btn-success">Info</button>
    </p>

    <div id="hide"  style="display:none">
    <table class="table table-striped table-bordered">
        <tr>
            <td>Источник:</td> 
            <td>{{ accident.source }}
                 {% for post in tag %}
                    {% if post.is_opened is True %}
                        (<a href = '{{ post.link }}' target="_blank">{{ post.tag_text}}</a>)
                    {% endif %}
                {% endfor %}

            </td>
        </tr>

        <tr>
            <td>Автор:</td> 
            <td>{{ accident.author }}</td>
        </tr>

        <tr>
            <td>Система:</td> 
            <td>{{ accident.system }}</td>
        </tr>

         <tr>
            <td>Статус:</td> 
            <td>{{ accident.status }}</td>
        </tr>

        <tr>
            <td>Дата последнего обновления:</td> 
            <td>{{ last_date.date_time__max|date:"d.m.Y G:i:s" }}</td>
        </tr>

        <tr>
            {% load accident_extras %}
            <td>Длительность:</td> 
            <td>
                {% if accident.status.end_point %}

                    {{ accident.created_date|diff_date:last_date.date_time__max }}

                {% else %}

                    {{ accident.created_date|diff_date }}

                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Метки:</td> 
            <td>
                {% for post in tag %}
                    <a href = '{{ post.link }}' target="_blank">{{ post.tag_text}}</a>
                {% endfor %}
            </td>
        </tr>

         <tr>
            <td><strong>Влияние:</strong></td> 
            <td>{{ accident.text }}</td>
        </tr>


    </table>
    </div>
    
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'event_new' pk=accident.id %}">Add Event <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'link_new' pk=accident.id %}">Add Tag <span class="sr-only">(current)</span></a>
                </li>
            </ul>

    </nav>

   <table id="detail_list" class="table table-striped table-bordered" style="width:100%">
    	<thead>
    		<tr>
    			<th class = "nosort">
    				Номер
    			</th>

        		<th class = "nosort">
        			Событие
        		</th>

        		<th class = "nosort">
        			Время
        		</th>

                <th class = "nosort">
                    Дата
                </th>


        	</tr>
    	</thead>
        
            <tr>
                <td>#</td>
                <td>Фиксация</td>
                <td>{{ accident.created_date|date:"G:i:s" }}</td>
                <td>{{ accident.created_date|date:"d.m.Y" }}</td>
             </tr>

        {% for post in events %}
                
        	<tr>
        		<td>{{ forloop.counter }}</td>
        		<td>
                    {% if post.isstatus_change is False %}


                        {% if post.istag  is False %}


                             {{ post.event }}

                        {% else %}

                            {% if post.event == None %}

                            Добавлена метка <a href = "{{ post.tag.link }}">{{ post.tag.tag_text }}</a>

                            {% else %}

                                {{ post.event }} <a href = "{{ post.tag.link }}">{{ post.tag.tag_text }}</a>

                            {% endif %}

                        {% endif %}

                    {% else %}

                        Присвоен статус "{{ post.status.status }}"

                    {% endif %}



  

        		</td>
        		<td>
        			{{ post.date_time|date:"G:i:s" }}
        		</td>
                <td>
                    {{ post.date_time|date:"d.m.Y" }}
                </td>
        	</tr>
            
        {% endfor %}

            <tfoot>
                <tr>
                    <th>Номер</th>
                    <th>Событие</th>
                    <th>Время</th>
                    <th>Дата</th>
                </tr>
            </tfoot>

        </table>
{% endblock %}
