{% load staticfiles %}

<html>
    <head>
        {% block page_title %}
        {% endblock %}

        

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        


        {% block link %}
        {% endblock %}

        



    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}

                {% block add_link %}
                {% endblock %}
                
            {% endif %}
            <h1><a href="/">Вместо таблицы в экселе</a></h1>
           
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>